
    * {margin:0; padding:0;}
     
    body {
     background-color:#fff;
     font-family:Arial, Helvetica, sans-serif;
     color:#000;
    }


    nav {
     margin:auto;
     text-align: center;
     width: 100%;
    } 

    nav ul ul {
     display: none;
    }

    nav ul li:hover > ul{
    display: block;
    width: 150px;

    }

    nav ul {
     background: #666;
     padding: 0 20px;
     list-style: none;
     position: relative;
     display: inline-table;
     width: 100%;
    }

    nav ul:after {
     content: ""; 
     clear:both; 
     display: block;
    }

    nav ul li{
     float:left;
     font-size: 15pt;
    }

    nav ul li:hover{
     background:#666;
    }

    nav ul li:hover a{
     color:#fff;
    }

    nav ul li a{
     display: block;
     padding: 25px;
     color: #fff;
     text-decoration: none;
     text-align: center;
    }

    nav ul ul{
     background: skyblue;
     border-radius: 0px;
     padding: 0;
     position: absolute;
     top:100%;
    }

    nav ul ul li{
     float:none;
     border-top: 1px soild #53bd84;
     border-bottom: 1px solid #53bd84;
     position: relative;
    }

    nav ul ul li a{
     padding: 15px 40px;
     color: #fff;
    }

    nav ul ul li a:hover{
     background-color: #666;
    }

    nav ul ul ul{
     position: absolute;
     left: 100%;
     top: 0;
    }
h1{
    float: center;
    padding: 25px;
    font-size: 15pt;
}
footer {
    color: black;
    text-align: center;
    padding: 1em;
    font-size: .8em;
}
nav, footer {
    background-color: chocolate;
    justify-content: center;
    display: flex;
}

img{
    display: block;
    block-size: 15em;
    align-content: center;
}

#selamat {
    size: 20pt;
    float: center;
    color: white;
    font-size: large;
}

#nama{
    size: 20pt;
    float: center;
    color: white;
    font-size: large;
}
tbody {
    font-size: 30px;
}

#Tabel{
    font-size: 20px;
    text-decoration: none;
}
#table{
    font-size: 12px;
    text-decoration: none;
}

#Pribadi{
    text-align: center;
}

article{
    text-align: center;
}

.container{
    float: right;
    padding: 25px;
    font-size: 15pt;
}

#navbar{
    font-size: 20px;n
    text-align: position: top: ;;
}

h2{
    text-align: center;
}